textarea {
  width: 99%;
}

.header {
  padding: 8px;
  border-bottom: dashed 1px #CCC;

  h1 {
    font-size: 200%;
    float: left;
  }
}

.user-menu {
  font-size: 90%;
  float: right;
  color: #AAA;
}

.wrap {
  width: 800px;
  margin: 0 auto;
}

.main {
  width: 580px;
  padding: 10px 10px 0 0;
  float: left;
  border-right: 1px dashed #CCC;
}

.side {
  width: 180px;
  float: left;
  padding: 10px 0 0 10px;
}

.clear {
  clear: both;
}
