h2 {
  margin: 20px 0;
  color: #AAA;
}

textarea {
  width: 99%;
  border-style: solid;
  border-width: 1;
  border-color: #CCC;
  border-radius: 4px;
}

textarea:hover, textarea:active {
  border-color: #999;
}

p {
  margin: 4px 0;
  font-size: 86%;
  color: #666;
}

.header {
  padding: 8px 0;
  margin-bottom: 20px;

  h1 {
    font-size: 200%;
    float: left;
  }
}

.user-menu {
  font-size: 86%;
  float: right;
  color: #AAA;

  a {
    color: #666;
  }

  img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0 4px;
  }
}

.wrap {
  width: 800px;
  margin: 0 auto;
}

.main {
  width: 580px;
  padding: 10px 10px 0 0;
  float: left;
}

.side {
  color: #999;
  width: 180px;
  float: left;
  padding: 10px 0 0 10px;
}

.clear {
  clear: both;
}

.right {
  text-align: right
}
