.tweet-form {
  padding: 6px;
  border: solid 6px #EEE;

  form {
    margin: 8px 0;
  }
}

ul.tweets {
  li:first-child {
    border-top: solid 1px #DDD;
  }

  li {
    padding: 10px 0;
    border-bottom: solid 1px #DDD;

    img {
      vertical-align: top;
    }

    .meta {
      color: #AAA;
      font-size: 80%;
      text-align: right;
    }
  }
}

.tweet {
  .content {
    padding: 6px;
    border: solid 6px #EEE;
    margin: 10px 0;
  }

  img {
    width: 24px;
    height: 24xp;
    vertical-align: bottom;
  }
}

.comment-form {
  margin-bottom: 10px;
  padding: 6px;
  border: dotted 2px #EEE;
}

ul.comments {
  li:first-child {
    border-top: solid 1px #DDD;
  }

  li {
    padding: 10px 0;
    border-bottom: solid 1px #DDD;

    img {
      vertical-align: top;
    }

    .meta {
      color: #AAA;
      font-size: 80%;
      text-align: right;
    }
  }
}
