ul.tweets {
  padding: 10px 0;

  li:first-child {
    border-top: solid 1px #DDD;
  }

  li {
    padding: 10px 0;
    border-bottom: solid 1px #DDD;

    img {
      vertical-align: top;
    }

    .meta {
      color: #AAA;
      font-size: 80%;
      text-align: right;
    }
  }
}

.tweet {
  padding: 10px;
  border: solid 1px #CCC;
  margin-bottom: 10px;

  img {
    vertical-align: top;
  }
}

.translate {
  margin-bottom: 10px;
}