.tweet-form {
  padding: 10px;
  background-color: #F1F1F1;
  border-radius: 8px;

  form {
    margin-top: 10px;
  }
}

.timeline {
  padding: 10px;
}

ul.tweets, .user-tweets {
  li:first-child {
    border-top: solid 1px #DDD;
  }

  li {
    padding: 10px 0;
    border-bottom: solid 1px #DDD;

    img {
      vertical-align: top;
      width: 24px;
      height: 24px;
    }

    .meta {
      color: #AAA;
      font-size: 80%;
      text-align: right;

      a {
        color: #666;
      }
    }
  }
}

.tweet {
  .content {
    padding: 6px;
    margin: 10px 0;
    background-color: #EEE;
    border-radius: 4px;
  }

  .meta {
    float: right;
  }

  .tweet-text {
    padding: 10px;
    margin-top: 10px;
    background-color: #FFF;
    border-radius: 3px;
  }

  img {
    vertical-align: bottom;
  }
}

.reactions {
  font-size: 90%;
  margin-left: 40px;
  margin-right: 3px;
}

.comment-form {
  margin: 20px 0;
}

ul.comments {
  li:first-child {
    border-top: solid 1px #EEE;
  }

  li {
    padding: 10px 0;
    border-bottom: solid 1px #EEE;

    img {
      vertical-align: top;
      width: 24px;
      height: 24px;
    }

    .meta {
      color: #AAA;
      font-size: 80%;
      text-align: right;
    }
  }
}

.profile {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #F1F1F1;
  border-radius: 8px;

  .user-name {
    font-size: 200%;
    color: #666;
  }

  img {
    vertical-align: middle;
    margin-right: 4px;
  }

  .user-data {
    font-size: 86%;
    margin-top: 16px;
  }
}
