html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h2 {
  margin: 20px 0;
  color: #AAA; }

textarea {
  width: 99%;
  border-style: solid;
  border-width: 1;
  border-color: #CCC;
  border-radius: 4px; }

textarea:hover, textarea:active {
  border-color: #999; }

p {
  margin: 4px 0;
  font-size: 86%;
  color: #666; }

.header {
  padding: 8px 0;
  margin-bottom: 20px; }
  .header h1 {
    font-size: 200%;
    float: left; }

.user-menu {
  font-size: 86%;
  float: right;
  color: #AAA; }
  .user-menu a {
    color: #666; }
  .user-menu img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0 4px; }

.wrap {
  width: 800px;
  margin: 0 auto; }

.main {
  width: 580px;
  padding: 10px 10px 0 0;
  float: left; }

.side {
  color: #999;
  width: 180px;
  float: left;
  padding: 10px 0 0 10px; }

.clear {
  clear: both; }

.right {
  text-align: right; }

.tweet-form {
  padding: 10px;
  background-color: #F1F1F1;
  border-radius: 8px; }
  .tweet-form form {
    margin-top: 10px; }

.timeline {
  padding: 10px; }

ul.tweets li:first-child, .user-tweets li:first-child {
  border-top: solid 1px #DDD; }
ul.tweets li, .user-tweets li {
  padding: 10px 0;
  border-bottom: solid 1px #DDD; }
  ul.tweets li img, .user-tweets li img {
    vertical-align: top;
    width: 24px;
    height: 24px; }
  ul.tweets li .meta, .user-tweets li .meta {
    color: #AAA;
    font-size: 80%;
    text-align: right; }
    ul.tweets li .meta a, .user-tweets li .meta a {
      color: #666; }

.tweet .content {
  padding: 6px;
  margin: 10px 0;
  background-color: #EEE;
  border-radius: 4px; }
.tweet .tweet-text {
  padding: 10px;
  margin-top: 10px;
  background-color: #FFF;
  border-radius: 3px; }
.tweet img {
  vertical-align: bottom; }

.reactions {
  font-size: 90%;
  margin-left: 40px;
  margin-right: 3px; }

.comment-form {
  margin: 20px 0; }

ul.comments li:first-child {
  border-top: solid 1px #EEE; }
ul.comments li {
  padding: 10px 0;
  border-bottom: solid 1px #EEE; }
  ul.comments li img {
    vertical-align: top;
    width: 24px;
    height: 24px; }
  ul.comments li .meta {
    color: #AAA;
    font-size: 80%;
    text-align: right; }

.profile {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #F1F1F1;
  border-radius: 8px; }
  .profile .user-name {
    font-size: 200%;
    color: #666; }
  .profile img {
    vertical-align: middle;
    margin-right: 4px; }
  .profile .user-data {
    font-size: 86%;
    margin-top: 16px; }
